<div class="titulo-central text-center">
  <h1>Maines</h1>
  <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</h3>
</div>